#commentBox{
	background-color: #F9EEE1;
	margin-top: 25px;
	width: 75%;
	margin-left: 9%;
	float:left;
}

.actualComments{
	float: left;
	width: 100%;
	border-bottom: 3px solid;
	
}

#commentForm{
	margin-top: 10px;
}

#commentText {
	margin-left: 10%;
	width: 80%;
	max-width: 80%;
	min-width: 80%;
	min-height: 50px;
	height: 50px;
}

#submitButton{
	margin-left: 10%;
	margin-bottom: 10px;
}