body{
	color: #402319;
	background: linear-gradient(to right, #E4D7CB 0%, #E4D7CB 75%, #987B6E 75%, #987B6E 100%);
	font-family:Arial, Helvetica, sans-serif;

}

body, html{
	margin: 0 auto;
}

#vasen{
	float:left;
	width: 75%;
}
 
.content{
	width: 75%;
	background-color: #F9EEE1;
	margin-left: 9%;
	margin-top: 10%;
	padding: 2%;
}

#oikea{
	float:left;
	width: 25%;
}

a{
	text-decoration: none;
	color: #402319;
}

#navbar{
	width: 75%;
}
#navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
  }
  
#navbar li {
	float: left;
  }
  
#navbar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
#navbar li a:hover:not(.active) {
	background-color: #111;
  }
  
#navbar .active {
	background-color: #04AA6D;
  }

#pageTitle{
	margin-left: 10%;
}